<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /app/

  # Se o arquivo ou diretório existe, serve diretamente
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redireciona todas as outras requisições para index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>

# Desabilita cache para index.html
<Files "index.html">
  Header set Cache-Control "no-cache, no-store, must-revalidate"
  Header set Pragma "no-cache"
  Header set Expires 0
</Files>
